:root{
  --text-color:#B8E9E0;
  --primery-color:#061224;
  --sec-color:#21E6C1;
  --white:white
}

body {
  background-color:var(--primery-color);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
    padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  scroll-snap-type: both mandatory;
  height:100vh ;  
  overflow-y: scroll;
}
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after{
  transition: all 0.8s ease;
  transition-delay: 0 !important;
}
html{
  scroll-behavior: smooth;
}
html[theme='light']{
  --text-color:#071E3D;
  --primery-color:#e7d8d8;
  --sec-color:#008a70;
  --white:black

}
@media (max-width:800px) {
	html{
		font-size: 1px;
	}
}
@media (max-width:700px) {
  html{
    font-size: 10px;
  }
  #home{
    margin: 0;

    margin-top: 3rem;
    height: unset;

  }
  #skills{
    margin: 0;

    margin-top: 3rem;
    height: unset;

  }
  #projects{
    margin: 0;

    margin-top: 3rem;
    height: unset;
    padding:0;

  }
  #about{
    margin: 0;
    padding:0;
    margin-top: 3rem;
    height: unset;


  }
  
}
#home{
  margin: 0;
  width: 100%;
  margin-top: 3rem;
  height: 100vh;
  scroll-snap-align: start;

}
#skills{
  margin: 0;

  margin-top: 3rem;
  height: unset;
  height: 100vh;
  scroll-snap-align: start;

}
#projects{
  margin: 0;
  scroll-snap-align: start;

  margin-top: 3rem;
  height: unset;
  padding:0;
min-height: 100vh;
}
#about{
  margin: 0;
  padding:0;
  margin-top: 3rem;
  height: unset;
  height: 100vh;
  scroll-snap-align: start;


}


#footer{
  scroll-snap-align: start;
  height: 100vh;

}
#header{
  scroll-snap-align: start;
}